registry=http://registry.npm.taobao.org/
//registry.npm.taobao.org/:_password=MTExMTEx
//registry.npm.taobao.org/:username=zoro768
//registry.npm.taobao.org/:email=476021141@qq.com
//registry.npm.taobao.org/:always-auth=false
//scope=zoro768
//@zoro768:registry=http://registry.npmjs.org/
//registry.npmjs.org/:_authToken=d37b38d0-6298-47db-9a20-bbed986f9b54
